@import "tailwindcss";

body {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

@theme {
  --color-primary-green: #caeb66;
  --color-secondary-green: #5b6a2e;
  --color-primary-black: #03373d;
  --color-secondary-black: #606060;
  --color-main-black: #0b0b0b;
  --color-primary-white: #DADADA;
}
